# Add any directories, files, or patterns you don't want to be tracked by version control
*.iml
target/
.idea/
*.project
*.classpath
.settings/
/bin/
# Maven
log/
target/
bin/
# Web
src/main/webapp/node_modules/
src/main/webapp/typings/
src/main/webapp/bower_components/
src/main/webapp/.idea/