<div ng-controller="ReviewsIndex as r">
	<h1 class="ui header" align="center">List of reviews</h1>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Stars</th>
		<th>Rating</th>
		<th>Books</th>
	</tr>
	</thead>
	<tbody ng-repeat="review in r.reviewDetails">
	<tr>
		<td><b>{{review.rating}} stars</b></td>
		<td><span uib-rating ng-model="review.rating" max="5" read-only="true"></span></td>
		<td><a href="#!/books/rating/{{review.rating}}">[{{review.count}} book<a ng-if="review.count > 1">s</a>]</a></td>
	</tr>
	</tbody>
</table>
</div>